/* Definições gerais */
body {
    background-color: #4b2e2e; /* Fundo café forte */
    color: #f5e9e0; /* Cor das letras padrão */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do nome da cafeteria */
.cafeteria-nome {
    font-size: 45px;
    color: #d2b48c; /* Cor café com leite */
    text-align: center;
    margin: 20px 0 10px;
}

.linha-nome {
    width: 80%;
    height: 2px;
    background-color: #8b4513; /* Escolha uma cor */
    margin: 0 auto 20px;
}

/* Estilo para o header com a imagem e o parágrafo */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.bem-vindo {
    font-size: 35px;
    width: 50%;
}

.imagem-cafeteria {
    width: 50%;
    max-width: 300px;
}

/* Estilo do cardápio */
.cardapio {
    background-color: #d2b48c; /* Marrom clarinho */
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.cardapio h2 {
    margin-top: 0;
}

/* Seção Proprietária */
.proprietaria {
    background-color: #5e3b3b; /* Tom entre café escuro e leite com café */
    color: #f5e9e0; /* Letras em tom leite com pouquíssimo café */
    padding: 20px;
    text-align: center;
}

/* Estilo do rodapé (Contato) */
.contato {
    background-color: #f0e5da; /* Branco sujo */
    color: #4b2e2e;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer h2, footer p {
    margin: 5px 0;
}